<header>
    <section>
        <!-- 클릭 시 메인페이지로 이동하는 로고 -->
        <a href="/">
            <img src="/images/logo.jpg" alt="메인 로고" id="homeLogo">
        </a>
    </section>

    <section>
        <!-- 검색어 입력할 수 있는 요소 배치 영역 -->
        <article class="search-area">
            <!-- 섹션 쪼개는 article 태그 -->
            <form action="#" method="GET">
                <!-- 검색하는 것은 form태그! -->
                <fieldset>
                    <!-- fieldset태그 : form태그 영역 구분시 사용하는 테두리 만들어주는것 -->
                    <input type="search" id="query" name="query" placeholder="검색어를 입력해 주세요." autocomplete="off">
                    <!-- input의 search타입 : 글자 입력 시 오른쪽에 x버튼 생김! -->
                    <!-- autocomplete="off" : 자동완성 기록 나오는 창 나오지 않도록 한다-->

                    <input type="hidden" name="key" value="t">
                    <!-- 게시글 제목 검색(나중에 할거다) 시 사용 -->

                    <button id="searchBtn" class="fa-solid fa-magnifying-glass">
                        <!-- 폰트어썸의 아이콘의 클래스만 복사해와도 되고 i태그 그대로 가져와도 된다 -->
                    </button>
                    <!-- 검색 버튼 -->
                </fieldset>
            </form>

            <ul id="searchResult" class="close">
                <!-- 검색 결과 리스트 보여주는 곳 -->
            </ul>
        </article>
    </section>

    <section>
        <!-- 안쓰는 섹션 -->
    </section>

    <div class="header-top-menu">
        <!-- 우측 상단 드롭다운 메뉴 -->
        <!-- 로그인 여부에 따라 모양이 다름 -->
        <th:block th:if="${session.loginMember ==null}">
            <!-- 로그인 안 되어있을 경우 -->
            <a href="/">메인페이지</a>
            |
            <a href="/member/login">로그인</a> <!-- 이건 get방식 요청!(저번엔 post방식이었음) -->
        </th:block>

        <th:block th:unless="${session.loginMember ==null}">
            <!-- 로그인 되어있을 경우(null이 아닌 경우) -->
            <label for="headerMenuToggle">
        <!--  headerMenuToggle : 이 라벨 태그랑 headerMenuToggle이라는 아이디를 가지는 input태그랑 연결하겠다-->
                <!-- th:text를 대괄호 두개로 쓰기 -->
                [[${session.loginMember.memberNickname}]] <!-- 여기엔 닉네임 나올거다 -->
                <i class="fa-solid fa-caret-down"></i> <!-- 폰트어썸 caret down 아이콘 -->
            </label>
            <input type="checkbox" id="headerMenuToggle"><!-- toggle : 온오프 스위치 -->
            <!-- 라벨을 클릭해도 체크박스가 체크됐다 해제된다 -->
            <div class="header-menu">
                <a href="#">내정보</a>
                <a href="/member/logout">로그아웃</a>
            </div>
        </th:block>

    </div>
    
</header>

<nav>
    <!-- navigator -->
    <ul>
        <th:block th:each="boardType : ${application.boardTypeList} ">
            <!-- th:each="하나씩 : 리스트" ==반복문 -->
            <!-- application scope에 있는 boardTypeList를 꺼내와서 -->
            <li>
                <a th:href="@{/board/{boardCode}(boardCode=${boardType.boardCode})}"
                
                th:text="${boardType.boardName}"
                >게시판이름</a>
                <!-- 앞은 board로 시작할거고 뒤에는 boardCode가 들어올 건데
                그 boardCode가 무엇인지를 소괄호 안에 작성-->
                <!-- 주소가 board/2 이런식으로 만들어진다 -->
                <!-- 주소에는 @ 이용! -->
            </li>
        </th:block>
        
        
    </ul>
</nav>