<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.name}">message.properties값 출력</title>
    <th:block th:replace="~{common/common}">
        <!-- templates/common/common.html을 여기에 조각으로 추가 -->
        <!-- 이 블럭태그를 조각으로 바꿀거야 -->
        <!-- # : messages  // ~ : 조각 -->
        <!-- head부분에 script태그 있어도 되긴 한다! -->
    </th:block>
</head>
<body>
    <main>
        <!-- 시맨틱태그  -->
        <th:block th:replace="~{common/header}">
            <!-- common/header.html을 여기에 조각으로 추가 -->
        </th:block>

        <!-- 메인페이지 영역(header 아래쪽 영역) -->
        <section class="content">
            <section class="content-1">
                <!-- 확인, 보충 등등 그때 그때 사용 -->
                <!-- 테스트 용 로그인 할 때마다 아이디 비밀번호 치기 힘드니까 빠른 로그인 버튼(input으로 해도 상관 없다) 만들기  -->
                <h3>빠른 로그인</h3>
                <button class="quick-login">member01@kh.or.kr</button>
                <button class="quick-login">member02@naver.com</button>
                <button class="quick-login">ink0216@naver.com</button>
                <!-- 이메일이 innerText로 작성돼있다 -->
                <!-- 로그인 == 로그인 정보를 세션에 올리는 것 -->

                <hr>
                <!-- 회원번호가 일치하는 회원의 비밀번호 초기화 -->
                <h3>특정 회원 비밀번호 초기화(비동기, ajax)</h3>
                <div>
                    회원 번호 : <input type="text" id="resetMemberNo" >
                    <button id="resetPw">비밀번호 초기화(pass01!로)</button>
                </div>
                <hr>
                <h3>특정 회원 탈퇴 복구(비동기, ajax)</h3>
                <div>
                    회원 번호 : <input type="text" id="outResetMemberNo">
                    <button id="outResetBtn">탈퇴 복구</button>
                </div>








                <hr>
                <h3>
                    회원 목록 조회 (비동기)
                    <button id="selectMemberList">조회</button>
                </h3>
                <table border="1" style="border-collapse: collapse;">
                    <thead>
                        <th>index</th>
                        <th>회원 번호</th>
                        <th>이메일</th>
                        <th>닉네임</th>
                        <th>탈퇴 여부</th>
                        <th>회원 삭제</th>
                    </thead>
                    <tbody id="memberList">
                        <!-- 비동기로 조회한 것을 이용해서 요소 만들어서 넣기 -->
                    </tbody>
                </table>
            </section>
            <section class="content-2">
                <!-- 로그인 ,회원가입 버튼 영역 -->
                <!-- 로그인 박스 : 로그인 안돼있을 때에만 보이도록 조건문 만들기 -->
                <th:block th:if="${session.loginMember ==null}"> <!-- 로그인이 되어있지 않은 경우 --> 
                    <form action="/member/login" method="POST" id="loginForm"> <!-- name으로 하는 게 좋긴함 -->
                        <!-- 메서드를 get으로 하면 비밀번호가 주소에 뜨는 문제 ->POST로 -->
                        <fieldset class="id-pw-area">
                            <section>
                                <!-- 이메일/비밀번호 입력 -->
                                <input type="text" name="memberEmail" placeholder="이메일 입력">
                                <input type="password" name="memberPw" placeholder="비밀번호 입력">
                            </section>
    
                            <section>
                                <!-- 로그인 버튼 -->
                                <button>로그인</button>
                            </section>
                        </fieldset>
                        <label>
                            <!-- label태그 : input태그의 제목을 나타내는 태그
                                ->이거 이용하면 연결됨-->
                                <input type="checkbox" name="saveId">
                                아이디 저장
                                <!-- 아이디 저장 : 로그인 성공 시 쿠키 이용 -->
                                <!-- 로그인 폼 안에 있어서 saveId가 넘어간다 -->
                                <!-- 체크박스에 체크 했을 때 "on"이 넘어감 -->
                                <!-- 체크박스에 체크 안했을 때 null이 넘어감 -->
                                <!-- 연결되거나 내부에 있는 영역 눌러도 checkbox에 체크되도록 클릭 영역 넓힘 -->
                        </label>
                        <article class="signup-find-area">
                            <!-- div태그와 비슷 -->
                            <!-- 회원가입,비밀번호 찾기 -->
                            <a href="/member/signup">회원가입</a>
                            <span> | </span>
                            <a href="#">ID/PW 찾기</a>
                        </article>
                    </form>
                </th:block>
                <!-- th:unless == if문의 조건 그대로 쓰는데 그 반대로 하는 것 -->
                <th:block th:if="${session.loginMember !=null}">
                    <!-- 로그인 된 경우 -->
                    <article class="login-area">
                        <!-- 시맨틱 태그 중 하나로, 내용이 조금 다른 내용을 쓸 때 사용하는 태그 -->
                        <a href="/myPage/profile">
                            <!-- 여기에 프로필이미지 들어감 -->
                            <!-- th:src : 타임리프로 만들어보겠다
                                ${} :scope에 있는 거 꺼내오기 // #{} : messages.properties에 있는 것 가져오겠다-->
                                <!-- messages.properties에 작성된 기본 사용자 이미지 -->
                            <img th:with="user=#{user.default.image}" th:src="${session.loginMember.profileImg ?: user }" 
                            id="memberProfile" alt="프로필 이미지">
                        </a>
                        <div class="my-info" th:object="${session.loginMember}" >
                            <!-- 세션 스코프의 로그인 멤버를 여기 가져가서 이 태그 내에서 필드를 쉽게 사용하겠다 -->
                            <!-- 내 정보 -->
                            <!-- 닉네임,이메일,로그아웃 버튼 출력하는 영역 -->
                            <div><!-- * : object를 뜯어낸 필드를 쓸 수 있다 -->
                                <a href="/myPage/info" id="nickname" th:text="*{memberNickname}">닉네임</a>
                                <a href="/member/logout" id="logoutBtn">로그아웃</a> <!-- a태그로 버튼 만듦 -->
                                <!-- a태그는 get방식으로 요청 보낸다! -->
                            </div>
                            <p th:text="*{memberEmail}">이메일</p>
                        </div>

                    </article>
                </th:block>
            
            </section>
        </section>
    </main>
    <!-- common/footer.html 조각 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>
    <script src="/js/main.js"></script>
</body>
</html>