<!-- 마이페이지 왼쪽 고정 사이드메뉴 조각(fragment)-->
<!-- 조각 만들면 필요한 곳에서 th:replace = "~{조각경로}" / th:insert = "~{조각경로}" -->

<section class="left-side">
        사이드 메뉴
        <ul class="list-group">
            <li> <!-- li>a -->
                <a href="/myPage/profile">프로필 이미지 수정</a>
            </li>

            <li> <!-- li>a -->
                <a href="/myPage/info">내 정보</a>
            </li>

            <li> <!-- li>a -->
                <a href="/myPage/changePw">비밀번호 변경</a>
            </li>

            <li> <!-- li>a -->
                <a href="/myPage/secession">회원 탈퇴</a>
            </li>

            <li> <!-- li>a -->
                <a href="/myPage/fileTest">파일 업/다운 로드 테스트(기초 방법)</a>
                <!-- 비동기로  다운로드 받는 것은 어렵다!!-->

            </li>
            <li> <!-- li>a -->
                <a href="/myPage/fileList">업로드 파일 목록</a>

            </li>
        </ul>
</section>






















