<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 표기법을 여기에 적용할거다 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList-Boot</title>
</head>
<body>
    <h1>Todo List</h1>
<hr>
<h3><a href="/ajax/main">TodoList - Ajax 버전(비동기)</a></h3>
<hr>

<form action="/todo/add" method="POST"> <!-- 이거 처리할 컨트롤러 만들면된다 -->
    <h4>할 일 추가</h4>

    <div>
        제목 : <input type="text" name="todoTitle">
    </div>

    <div>
        <textarea name="todoContent" 
        cols="50" rows="5" placeholder="상세 내용"></textarea>
    </div>

    <button>추가 하기</button>

</form>

<hr>
<hr>


<h3 th:text="|전체 Todo 개수 : ${#lists.size(todoList)}개 
            / 완료된 Todo 개수 : ${completeCount}개|"></h3>
            <!-- h3태그의 innerText로 th:text속성의 속성값이 들어감 -->
<!-- 전체 TodoList의 길이를 표현할 수 있는 방법 두가지
        1) ${#lists.size(todoList)} : todoList의 길이 반환
        2) ${todoList.size()} ==컬렉션에서 길이 얻어오는 것(되기는 되는데 옛날방법이다)-->
<table border="1" style="border-collapse: collapse;">

    <thead>
        <th>번호</th>
        <th>할 일 제목</th>
        <th>완료 여부</th>
        <th>등록 날짜</th>
    </thead>


    <tbody>
    
        <tr th:each="todo : ${todoList}" th:object="${todo}"> <!-- tr태그가 반복되면서 DB에서 조회된 Todo를 보여준다 -->
            <!-- each문이 써진 태그가 반복됨
                하나씩 꺼낸 것을 th:object라고 하면 -> 하나씩 뜯어서 쓸 수 있게 된다
                object 써서 뜯어 쓸 떄에는 *을 붙인다-->
        <td th:text="*{todoNo}">할 일 번호</td>
        <td> <!-- 타임리프에서 주소 할 때에는 @ -->
            <a th:href="@{/todo/detail(todoNo=*{todoNo})}" 
            th:text="*{todoTitle}">할 일 제목</a>
            <!-- () : 쿼리스트링으로 해석
            /todo/detail?todoNo=5
            반복 출력하려는 todoNo 출력-->
        </td>
        <td th:text="*{complete}">완료 여부(Y / N)</td>
        <td th:text="*{regDate}">등록일</td>
        </tr>

    </tbody>
</table>

<!-- footer.html 조각을 해당 위치에 추가하기 -->
<!-- th:block : 타임리프 코드만 해석하고 없어지는  -->
<th:block th:replace="~{common/footer}">
    <!-- 조각의 경로는 forward하듯이 작성하면 된다!(접두사 접미사 생략) -->
    <!-- templates/common/footer.html  ===> common/footer -->
</th:block>
</body>
</html>