<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>책 검색, 수정, 삭제</h1>
    
        <!-- form태그는 무조건 동기식이어서
        비동기로 하려면 버튼 이벤트로 해야함-->
    제목 : <input type="text" placeholder="내용을 입력해 주세요." id="search" 
    name="search"> <button id="searchBtn">검색</button>
    <table border="1" >
        <thead>
            <th>책 번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>가격</th>
            <th>등록일</th>
            <th>수정 버튼</th>
            <th>삭제 버튼</th>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/js/actions.js"></script>
</body>
</html>